.dnd {
  width: 1280px;
  flex-direction: wrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

}

.board {
  align-items: center;
  margin-bottom: 30px;
  border-radius: 10px;

}

.board4l0 {
  display: flex;
  gap: 33px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.board4l1 {
  right: 709px;
  top: 227px;

}

.board4l2 {

  right: 978px;
  top: 170px;

}

.board4l3 {
  right: 1080px;
  top: 164px;
}

.board4l4 {
  right: 822px;
  top: 498px;
}

.board4l5 {
  right: 650px;
  top: 498px;
}

.board4l6 {
  right: 400px;
  top: 497px;
}

.board4l7 {
  right: 205px;
  top: 497px;
}

.board4l8 {
  right: 978px;
  top: 321px;
}

.board4l9 {
  right: 850px;
  top: 169px;
}

.board4l10 {
  right: 849px;
  top: 307px;

}

.board4l11 {
  right: 1080px;
  top: 273px;
}

.board4l12 {
  right: 539px;
  top: 303px;
}
.board4l13 {
  right: 204px;
  top: 303px;
}
.board4l14 {
  right: 206px;
  top: 146px;
}
.board4l15 {
  right: 552px;
  top: 146px;
}
.board4l16 {
  right: 552px;
  top: 146px;
}
.board4l17 {
  right: 552px;
  top: 146px;
}


.board__title {
  font-size: 1.5rem;
  font-weight: 700;
  height: 0;
  z-index: 4;
  margin-bottom: 10px;
  width: 40px;
}

.board__title__main {
  width: 1280px;
  text-align: center;
}

.item {
  align-items: center;
  margin: 7px;
  cursor: grab;
  z-index: 5;
}

.boardImg {
  width: 100%;
  display: block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: -1;
}

.imgIcon {
  width: 25px;
  height: 25px;
}

.green {
  background-color: rgb(31, 197, 31);
  transition: all 1s ease-out;

}

.red {
  background-color: red;
  animation-name: blink;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
}

.MyButton {
  font: 1.5em sans-serif;
  width: 200px;
  padding: 10px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 18px;
  box-shadow: inset 0px 0px 15px 3px #23395e;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  background-color: #2e466e;
  border-radius: 17px;
  border: 1px solid #1f2f47;
  cursor: pointer;
  color: #ffffff;
  text-shadow: 0px 1px 0px #263666;

  &:hover {
    background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
    background-color: #415989;
  }

  &:active {
    bottom: 17px;
  }


}


.absolute {
  position: absolute;
}

.strelka {
  margin-left: 15px;
  width: 10px;
  transform: rotate(90deg);
  z-index: -1;
}

.rotateCenter {
  -webkit-animation: rotateCenter 0.6s ease-in-out both;
  animation: rotateCenter 0.6s ease-in-out both;
}

@keyframes rotateCenter {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}