.menu-training {
    z-index: 1;
  
    &__btn {
      margin-left: auto;
      margin-right: auto;
      left: 280px;
      right: 0;
      bottom: 18px;
      width: 50px;
    }
  
    &-card {
      margin-top: 30px;
      width: 100px;
  
    }
  
    &-tab {
      display: flex;
      justify-content: center;
      gap: 30px;
    }
  }
  .react-draggable{
    z-index: 100;
  }
.draggableImg{
  width: 30px;

  height: 30px;
}
.board0l0 {
  display: flex;
  gap: 33px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  flex-wrap: wrap;
  justify-content: center;
}